<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Employees" connectionString="Server=umd-fmis;Database=vwpteam37;UID=vwp;PWD=vwpumd" providerName="System.Data.SqlClient"/>
    <add name="Products" connectionString="Server=umd-fmis;Database=vwpteam37;UID=vwp;PWD=vwpumd" providerName="System.Data.SqlClient"/>
    <add name="Orders" connectionString="Server=umd-fmis;Database=vwpteam37;UID=vwp;PWD=vwpumd" providerName="System.Data.SqlClient"/>
    <add name="OrderDetails" connectionString="Server=umd-fmis;Database=vwpteam37;UID=vwp;PWD=vwpumd" providerName="System.Data.SqlClient"/>
    <add name="conString" connectionString="Server=umd-fmis;Database=vwpteam37;UID=vwp;PWD=vwpumd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>